body{
    background-color: crimson;
}


/* Style the navigation menu */
.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

/* Navigation links */
/* Style the navigation menu */
.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

/* Navigation links */
.navbar a {
    float: left;
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 25%;
    /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center;
    /* If you want the text to be centered */
}

/* Add a background color on mouse-over */
.navbar a:hover {
    background-color: #000;
}

/* Style the current/active link */
.navbar a:active {
    background-color: #4CAF50;
}

#bannerimg {

    width: 100vw;
    height: 100px;
    background-color:black;
    
}

.heading{
    color: black;
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.pic{
  position: absolute;
    top: 325px;  
    width: 25%;
    margin: 3rem;
    padding: 0px;
    border-width: 10px;
    border-radius: 15px;
    border-color: black;
    border-style: solid;

}

.pic2 {
    position: absolute;
    top: 475px;
    right: 400;
    width: 25%;
    margin: 3rem;
    padding: 0px;
    border-width: 10px;
    border-radius: 15px;
    border-color: black;
    border-style: solid;

}

.electricity{
    position: absolute;
    top: 400px;
    right: 250px;
    font-size:1.5rem;
}


.lightningBox{
    position: absolute;
    width: 33.6%;
    margin: 1rem;
    top:300px;
    right:75px;
    padding: 0.5rem;
    color: #FFF;
    font-size: 1.0rem;
    font-weight: bold;
    text-align: left;
    border-width: 10px;
    border-radius: 15px;
    border-color: black;
    border-style: ridge;
    background-color: #414141;
    
}



.dice{
    position: absolute;
    top: 425px;
    right: 250px;
    font-size:1.5rem;
}

.diceBox{
    position: absolute;
    width: 33.6%;
    margin: 1rem;
    top:300px;
    right:75px;
    padding: 0.5rem;
    color: #FFF;
    font-size: 1.0rem;
    font-weight: bold;
    text-align: left;
    border-width: 10px;
    border-radius: 15px;
    border-color: black;
    border-style: ridge;
    background-color: #414141;    
}

.chemotaxis{
    position: absolute;
    top: 450px;
    right: 250px;
    font-size:1.5rem;
}

.chemotaxisBox{

    position: absolute;
    width: 33.6%;
    margin: 1rem;
    top:300px;
    right:75px;
    padding: 0.5rem;
    color: #FFF;
    font-size: 1.0rem;
    font-weight: bold;
    text-align: left;
    border-width: 10px;
    border-radius: 15px;
    border-color: black;
    border-style: ridge;
    background-color: #414141;    
}
    
    
}

.boxindex {
    position: absolute;
    width: 80%;
    margin: 1rem;
    top:200px;
    right:75px;
    padding: 0.5rem;
    color: #FFF;
    font-size: 1.0rem;
    font-weight: bold;
    text-align: center;
    border-width: 10px;
    border-radius: 15px;
    border-color: black;
    border-style: ridge;
    background-color: #414141;
}

.boxprojects {
    position: absolute;
    width: 80%;
    margin: 1rem;
    top:200px;
    right: 100px;
    padding: 0.5rem;
    color: #FFF;
    font-size: 1.0rem;
    font-weight: bold;
    text-align: center;
    border-width: 10px;
    border-radius: 15px;
    border-color: black;
    border-style: ridge;
    background-color: #414141;
}


.boxdeepthoughts {
    position: absolute;
    width: 60%;
    margin: 1rem;
    top:200px;
    right: 300px;
    padding: 0.5rem;
    color: #FFF;
    font-size: 1.0rem;
    font-weight: bold;
    text-align: center;
    border-width: 10px;
    border-radius: 15px;
    border-color: black;
    border-style: ridge;
    background-color: #414141;
}

.boxaboutme {
    position: absolute;
    width: 60%;
    margin: 1rem;
    top:200px;
    right: 300px;
    padding: 0.5rem;
    color: #FFF;
    font-size: 1.0rem;
    font-weight: bold;
    text-align: center;
    border-width: 10px;
    border-radius: 15px;
    border-color: black;
    border-style: ridge;
    background-color: #414141;
}


